$woo-color: #674399;
$woo-color-hover: #7f54b3;

#floating-cart-for-woocommerce-wrapper {
	position: fixed;
	bottom: -165px;
	width: 100%;
	height: 180px;
	z-index: 9999;
	box-shadow:0 -1px 1px rgba(0,0,0,.2);
	background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
	transition: all 0.3s ease-in;
}

#floating-cart-for-woocommerce-center {
	max-width: 960px;
	height: 100%;
	padding: 10px;
	margin: 0 auto;
	position: relative;
	text-align: center;	
	background: none;
	display: flex;
}

#floating-cart-for-woocommerce-center .woocommerce-mini-cart__empty-message {
	margin: 70px auto;
}

#floating-cart-for-woocommerce-glide {
	max-width: 733px;
}

#floating-cart-for-woocommerce-center .glide__track {
	height: 100%;
	padding: 0;
}

#floating-cart-for-woocommerce-center .glide__track .glide__arrows {
	margin-top: 20px;
}

#floating-cart-for-woocommerce-center .glide__track .glide__arrows button.glide__arrow {
	padding: 2px 6px;
	margin: 0 50px;
	outline: 0 none;
	font-size: 30px;
	background: none;
	width: 30px;
	height: 30px;
	color: #333;
	border: 0;
	cursor: pointer;
}

#floating-cart-for-woocommerce-center .glide__track .glide__arrows button.glide__arrow:hover {
	background: 0;
	color: $woo-color;
}

#floating-cart-for-woocommerce-center .product_list_widget li.woocommerce-mini-cart-item {
	border-bottom: 0;
	border-top: 0;
	border-left: 1px solid #ddd;
	height: 100px;
	max-height: 100px;
	position: relative;
	padding: 0 0 0 5px;
}

#floating-cart-for-woocommerce-center .product_list_widget li.woocommerce-mini-cart-item:hover {
	background: #f2f2f2;
}

#floating-cart-for-woocommerce-center .product_list_widget li.woocommerce-mini-cart-item:first-child {
	border-left: 0;
}

#floating-cart-for-woocommerce-center .product_list_widget li.woocommerce-mini-cart-item a.remove_from_cart_button {
	position: absolute;
	top: 1px;
	left: 1px;
	color: #666;
	font-size: 16px;
	background: none;
	border: 0;
}

#floating-cart-for-woocommerce-center .product_list_widget li.woocommerce-mini-cart-item a.remove_from_cart_button:hover {
	color: $woo-color-hover;
}

#floating-cart-for-woocommerce-center .product_list_widget li.woocommerce-mini-cart-item a.floating-cart-for-woocommerce-image-link {
	line-height: 0.9em;
	height: 75px;
	overflow: hidden;
	display: block;
	font-size: 12px;
	color: #333;
	text-decoration: none;
	border: 0;
	
	::hover {
		text-decoration: none;
	}
}

#floating-cart-for-woocommerce-center .product_list_widget li.woocommerce-mini-cart-item a.floating-cart-for-woocommerce-image-link img.attachment-woocommerce_thumbnail {
	float: none;
	margin: 0 auto 10px auto;
	width: 50px;
	max-width: 50px;
	height: auto;
	display: block;
}

#floating-cart-for-woocommerce-center .product_list_widget li.woocommerce-mini-cart-item.glide__slide--active {
	background: #f2f2f2;
}

#floating-cart-for-woocommerce-center .product_list_widget li.woocommerce-mini-cart-item span.quantity {
	font-size: 12px;
	display: block;
	color: #333;
}

#floating-cart-for-woocommerce-center .floating-cart-for-woocommerce-checkout {
	width: 185px;
	max-width: 185px;
	margin-left: 20px;
	padding: 10px 10px;
	border-left: 1px dotted #ccc;
	height: 100%;
}

#floating-cart-for-woocommerce-center .floating-cart-for-woocommerce-checkout p.woocommerce-mini-cart__total {
	margin: 0 auto 20px auto;
	color: #6d6d6d;
	font-size: 14px;
}

#floating-cart-for-woocommerce-center .floating-cart-for-woocommerce-checkout .woocommerce-mini-cart__buttons a.button {
	margin: 0 0 5px 0;
	display: block;
	font-size: 12px;
	padding: 10px 20px;
	color: #333;
	background-color: #eee;
	border: 0;
	text-decoration: none;
	font-weight: bold;
	width: 165px;
	max-width: 165px;
	border-radius: 5px;
}

#floating-cart-for-woocommerce-center .floating-cart-for-woocommerce-checkout .woocommerce-mini-cart__buttons a.button:hover {
	background-color: #d5d5d5;
}

#floating-cart-for-woocommerce-center .floating-cart-for-woocommerce-checkout .woocommerce-mini-cart__buttons a.button.checkout {
	background: #333;
	color: white;
}

#floating-cart-for-woocommerce-center .floating-cart-for-woocommerce-checkout .woocommerce-mini-cart__buttons a.button.checkout:hover {
	background: #000;
}

#floating-cart-for-woocommerce-inner {
	display: flex;
	width: 960px;
}

.floating-cart-for-woocommerce-cart-tab {
	position:absolute;
	right:20px;
	top:-36px;
	font-size:20px;
	color:#333;
	width:50px;
	height:36px;
	line-height:36px;
	background-color:#fff;
	box-shadow:0 -1px 1px rgba(0,0,0,.4);
	border-top-right-radius:4px;
	border-top-left-radius:4px;
	cursor:pointer;
	display:block;
}

.floating-cart-for-woocommerce-cart-tab::before {
	color:#666;
	transition:color 0.5s ease;
}

.floating-cart-for-woocommerce-cart-tab:hover::before {
	color:#333;
}

#floating-cart-for-woocommerce-wrapper.show {
	bottom: 0;
}

@media only screen and (max-width: 900px) {
	#floating-cart-for-woocommerce-wrapper {
		height: 310px;
		bottom: -295px;
	}

	#floating-cart-for-woocommerce-center {
		display: block;
		width: 100%;
	}

	#floating-cart-for-woocommerce-inner {
		display: block;
		width: 100%;
	}

	#floating-cart-for-woocommerce-center .floating-cart-for-woocommerce-checkout {
		border: 0;
		width: 100%;
		max-width: 100%;
		margin-left: 0;

		.woocommerce-mini-cart__buttons a.button {
			width: 100%;
			max-width: 100%;
		}
	}
}
